{% load static %}
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css"
      integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N"
      crossorigin="anonymous"
    />
    <!-- Jquery -->
    <script src="{% static 'jquery.min.js' %}"></script>
    <link
      rel="stylesheet"
      href="{% static 'staticcss/MyStyleCategoryOfMenu.css' %}"
    />
    <link rel="stylesheet" href="{% static 'staticcss/PicStyle.css' %}" />
    <title>Category</title>
  </head>
  <body>
    {% for item in picOfTopCommercial %}
    <a href="/Category/{{item.image_ProductCategory.slug}}" id="topComercial">
      <img src="/media/{{item.image}}" id="topCommercialPic" />
    </a>
    {% endfor %}
    <!-- HeaderPart -->
    <header id="headerWrapper">
      <div id="wrappeRight">
        <!-- Logo part -->
        <div id="logoStyle">
          <img
            src="{% static 'staticsvg/BestTick Logo (2).svg' %}"
            id="LogoIcon"
            onclick="location.href='/'"
          />
        </div>

        <!-- Menu Button -->
        <button
          type="menu"
          class="btn"
          id="menuBtn"
          onclick="clickingmenuButton()"
        >
          <img
            src="{% static 'staticsvg/menu-svgrepo-com-3.svg' %}"
            id="menuIconStyle"
          />
          <img
            src="{% static 'staticsvg/cross-svgrepo-com1.svg' %}"
            id="crossIconStyle"
          />
        </button>

        <!-- Location Butoon Part -->
        <div id="wrapperLocationList">
          <ul id="locationList">
            {% for location in mylocations %}
            <a href="/{{location.slug}}/" class="locationItemTag">
              <li
                class="locationItem"
                onclick="choosingLocation('{{location_Category_filter.name}}')"
              >
                {{location.name}}
              </li>
            </a>
            {% endfor %}
          </ul>

          <button
            type="button"
            class="btn"
            id="dropdownLocationBtn"
            onclick="clickingdropdownLocationBtn()"
          >
            مکان شما
            <img
              src="{% static 'staticsvg/dropdown-svgrepo-com.svg' %}"
              id="dropdownIcon"
            />
          </button>
        </div>

        <!-- SearchBox Part -->
        <input
          type="search"
          name="Search"
          class="btn"
          id="SearchBox"
          placeholder="جستجو کنید"
          onkeyup="searchingProcess()"
        />
        <button class="btn" id="SearchBtnStyle" onclick="clickingSearchBtn()">
          <img
            src="{% static 'staticsvg/search-svgrepo-com.svg' %}"
            id="SerachIconStyle"
          />
        </button>
        <ul id="wrapperTotalListSearch">
          <!-- <li class="listBoxSearchItem">
              <a href="ww." class="listSearchItem">خانه</a>
            </li> -->
        </ul>
      </div>
      <div id="wrapperLeft">
        <!-- Shopping Button Part -->
        <button
          class="btn"
          id="ShoppingBagBtn"
          onclick="location.href='/User/ShoppingCart'"
        >
          <img
            src="{% static 'staticsvg/shopping-bag-svgrepo-com.svg' %}"
            id="ShoppingBagIconStyle"
            alt="ShoppingCartButton"
          />
          <div class="makingRedCircle" id="quantityOfProductAdded"></div>
        </button>
        <!-- Sign In & Sign Up -->

        {%if user.is_authenticated == False%}
        <button
          type="button"
          class="btn"
          id="SignBtnStyle"
          onclick="location.href='/customer/login'"
        >
          ورود / ثبت نام
        </button>
        {%else%}
        <button
          type="button"
          class="btn"
          id="SignBtnStyle"
          onclick="location.href='/User/Dashboard/'"
        >
          {{user.username}}
        </button>
        {%endif%}
      </div>
    </header>

    <!-- Menu Side -->
    <div id="wrapperTotal">
      <div id="wrapperMenuSide">
        <p id="categoryText">دسته بندی</p>
        <ul id="boxMenuActivity">
          <li
            class="activityItem"
            onmouseover="animatingPics('PricePic')"
            id="bestTickOfTheDayCategory"
            value="1"
            onclick="sendingDataOfCategoryToCategoryPage('bestTickOfTheDayCategory','li')"
          >
            <img
              src="{% static 'staticpic/Price_perspective_matte.png' %}"
              class="picOfSideMenu"
              id="PricePic"
            /><a href="/Categories/BestTickOfToday/">بست تیک های امروز</a>
          </li>
          <li
            class="activityItem"
            onmouseover="animatingPics('ClockPic')"
            id="lastMinutesTicketsCategory"
            value="2"
            onclick="sendingDataOfCategoryToCategoryPage('lastMinutesTicketsCategory','li')"
          >
            <img
              src="{% static 'staticpic/Clock_perspective_matte.png' %}"
              class="picOfSideMenu"
              id="ClockPic"
            /><a href="/Categories/LastMinutes/">لحظه آخری</a>
          </li>
          {% for item in categoryOfProducts%}
          <li
            class="activityItem"
            onmouseover="animatingPics('{{item.slug}}Pic')"
            id="{{item.slug}}Category"
          >
            <img
              src="/media/{{item.image}}"
              class="picOfSideMenu"
              id="{{item.slug}}Pic"
            /><a href="/Category/{{item.slug}}">{{item.name}}</a>
          </li>
          {% endfor %}

          <li
            class="activityItem"
            onmouseover="animatingPics('DiscountPic')"
            id="salesCodeCategory"
            value="8"
            onclick="sendingDataOfCategoryToCategoryPage('salesCodeCategory','li')"
          >
            <img
              src="{% static 'staticpic/Discount_perspective_matte.png' %}"
              class="picOfSideMenu"
              id="DiscountPic"
            /><a href="/Category/Discount/">کد تخفیف</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Slider Part -->
    <article class="wrapperTotalSliderCategory">
      <!-- SlideShow -->
      <div id="wrapperSlider">
        {% for item in threePicOfSlider %}
        <img
          src="/media/{{item.image}}"
          class="mySlidesOfProduct"
          alt="photosOfCategory"
          id="picSlider{{item.id}}Category"
        />
        {% endfor %}
      </div>
    </article>
    <!-- Main Category Body -->
    <div id="wrapperTitleMoreInfo">
      <p class="StyleBaseTitle" id="titleTextOfCategoryMenu">
        {{createTitleOfCategory}}
      </p>
      <div class="wrapperBlueLine">
        <span class="BlueLine"></span>
      </div>
    </div>
    <div class="wrapperTotalOtherOptionOfCategory">
      <div class="wrapperOptions">
        <input
          type="radio"
          name="filterForOtherOption"
          id="filter0Option"
          class="styleForRadioInputs"
        />
        <label
          for="filter0Option"
          class="styleForLabel"
          id="label0Option"
          onclick="clickingSubFiltersOfCategory('label0Option','styleForLabel')"
          >همه</label
        >
      </div>
      {% for item in mySubFilters %}
      <div class="wrapperOptions">
        <input
          type="radio"
          name="filterForOtherOption"
          id="filter{{item.id}}Option"
          class="styleForRadioInputs"
        />
        <!-- <label
          for="filter{{item.id}}Option"
          class="styleForLabel"
          id="label{{item.id}}Option"
          onclick="clickingSubFiltersOfCategory('label{{item.id}}Option','styleForLabel')"
          >{{item.name}}</label
        > -->

        <label
          for="filter{{item.id}}Option"
          class="styleForLabel"
          id="label{{item.id}}Option"
          onclick="clickingSubFiltersOfCategory('label{{item.id}}Option','styleForLabel')"
          ><a href="{{item.slug}}" class="styleOfLabelTaga"
            >{{item.name}}
          </a></label
        >
      </div>
      {% endfor %}
    </div>
    <article class="wrapperTotalMainBodyCategory">
      {% for item in myProducts %}
      <div class="wrapperTotalProductBox">
        <img
          src="/media/{{item.image}}"
          alt=""
          class="styleForProductPicinProductBox"
          id="pic{{item.id}}ForProductBox"
        />
        <div class="wrapperForCol2OfContent">
          <p class="styleForContentTextOfTitle">{{item.title}}</p>
          <p class="styleForContentTextOfMoreInfo">{{item.description}}</p>
          <p class="styleForContentTextOfAddress">{{item.location}}</p>
        </div>
        <div class="wrapperForCol3OfContent">
          <div class="wrapperOfSalesPercent">
            <div class="styleForPercentOfSalesText">
              {{item.calculatingSalesPercent}} %
            </div>
          </div>
          <p class="styleForContentTextOfOldPrice" id="oldPrice1OfProduct">
            {{item.old_Price}}
          </p>
          <p class="styleForContentTextOfNewPrice" id="newPrice1OfProduct">
            {{item.new_Price}}
          </p>
          <button
            class="btn StyleForuttonOfShowAndBuy"
            id="buttonOfShopping1ForProduct"
            onclick="location.href='/Ticket/{{item.slug}}'"
          >
            مشاهده و خرید
          </button>
        </div>
      </div>
      {% endfor %}
    </article>

    <!-- footer part -->
    <footer id="footerStyle">
      <div id="footerPartOne">
        <div id="wrapperBoxOne">
          <p><strong>پشتیبانی</strong> : 42024 - 021</p>
          <p><strong>شرکت</strong> : 88575757 - 021</p>
        </div>

        <div id="wrapperBoxTwo">
          <img src="{% static 'staticpic/نماد اعتماد.png' %}" />
          <img src="{% static 'staticpic/نشان ملی ثبت.png' %}" />
          <img src="{% static 'staticpic/عضو اتحادیه کشوری.png' %}" />
        </div>
      </div>
      <hr />
      <div id="footerPartTwo">
        <h5 style="font-weight: bold">
          فروشگاه اینترنتی بست تیک بررسی، انتخاب و خرید آنلاین
        </h5>
        <p style="width: 50%">
          یک خرید اینترنتی مطمئن، نیازمند فروشگاهی است که بتواند تیکتهای متنوع و
          دارای قیمت مناسب را به دست مشتریان خود برساند ؛ ویژگی‌هایی که فروشگاه
          اینترنتی بست تیک سال‌هاست بر روی آن‌ها کار کرده و توانسته از این طریق
          مشتریان ثابت خود را داشته باشد.
        </p>
      </div>
    </footer>
    <script src="{% static 'staticjs/MyScriptCategoryOfMenu.js' %}"></script>
  </body>
</html>
